{% extends "base.twig" %}

{% block content %}
  <div class="single-disease-hero-section">
    <div class="sk-container">
      <h1>{{ post.title }}</h1>

      <div class="flex-holder">
        <div class="left-col">
          {% if not (general_information is empty) %}
            <div class="info-block">
              <h3>General Information</h3>

              <div class="info-block-holder">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 0 50.75 42.21">
                    <defs>
                      <style>.cls-1 {
                          fill: url(#Nueva_muestra_de_degradado_1);
                        }</style>
                      <linearGradient id="Nueva_muestra_de_degradado_1" x1="6.27" y1="43.89" x2="44.48" y2="5.68"
                                      gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#88c32f"/>
                        <stop offset="1" stop-color="#05b1f1"/>
                      </linearGradient>
                    </defs>
                    <g id="Capa_2-2">
                      <path class="cls-1"
                            d="m25.38,14.1c3.05,0,5.54-2.49,5.54-5.54s-2.48-5.54-5.54-5.54-5.54,2.48-5.54,5.54,2.48,5.54,5.54,5.54Zm-3.68-5.54c0-2.03,1.65-3.68,3.68-3.68s3.68,1.65,3.68,3.68-1.65,3.68-3.68,3.68-3.68-1.65-3.68-3.68Zm7.85,6.37h-8.34c-2.03,0-3.68,1.65-3.68,3.68v8.36c0,1.58,1,2.97,2.46,3.48v8.13c0,2,1.63,3.64,3.64,3.64h3.48c2.01,0,3.64-1.63,3.64-3.64v-8.13c1.46-.51,2.46-1.9,2.46-3.48v-8.36c0-2.03-1.65-3.68-3.68-3.68Zm-8.53,13.85c-.93-.09-1.63-.87-1.63-1.81v-8.36c0-1,.82-1.82,1.82-1.82h8.34c1,0,1.82.82,1.82,1.82v8.36c0,.94-.7,1.71-1.63,1.81-.48.05-.83.45-.83.93v8.87c0,.98-.8,1.78-1.78,1.78h-3.48c-.98,0-1.78-.8-1.78-1.78v-8.87c0-.48-.36-.88-.84-.93Zm16.35-16.84c0,3.05,2.48,5.54,5.54,5.54s5.54-2.48,5.54-5.54-2.48-5.54-5.54-5.54-5.54,2.48-5.54,5.54Zm1.86,0c0-2.03,1.65-3.68,3.68-3.68s3.68,1.65,3.68,3.68-1.65,3.68-3.68,3.68-3.68-1.65-3.68-3.68Zm7.85,6.37h-8.34c-2.03,0-3.68,1.65-3.68,3.68v8.36c0,1.58,1,2.97,2.46,3.48v4.76c0,2.01,1.63,3.64,3.64,3.64h3.49c2.01,0,3.64-1.63,3.64-3.64v-4.76c1.46-.51,2.46-1.9,2.46-3.48v-8.36c0-2.03-1.65-3.68-3.68-3.68Zm-8.53,13.85c-.93-.09-1.63-.87-1.63-1.81v-8.36c0-1,.82-1.82,1.82-1.82h8.34c1,0,1.82.82,1.82,1.82v8.36c0,.94-.7,1.71-1.63,1.81-.48.05-.83.45-.83.93v5.5c0,.98-.8,1.78-1.78,1.78h-3.49c-.98,0-1.78-.8-1.78-1.78v-5.5c0-.48-.36-.88-.84-.93ZM7.85,17.48c3.05,0,5.54-2.48,5.54-5.54s-2.48-5.54-5.54-5.54h0c-1.48,0-2.87.58-3.91,1.62-1.05,1.05-1.62,2.44-1.62,3.92,0,3.05,2.48,5.54,5.54,5.54Zm-3.68-5.54c0-2.03,1.65-3.68,3.68-3.68s3.68,1.65,3.68,3.68-1.65,3.68-3.68,3.68-3.68-1.65-3.68-3.68Zm7.85,6.37H3.68c-2.03,0-3.68,1.65-3.68,3.68v8.36c0,1.58,1,2.97,2.46,3.48v4.76c0,2,1.63,3.64,3.64,3.64h3.49c2.01,0,3.64-1.63,3.64-3.64v-4.76c1.46-.51,2.46-1.9,2.46-3.48v-8.36c0-2.03-1.65-3.68-3.68-3.68Zm-8.53,13.85c-.93-.1-1.63-.87-1.63-1.81v-8.36c0-1,.82-1.82,1.82-1.82h8.34c1,0,1.82.82,1.82,1.82v8.36c0,.94-.7,1.71-1.63,1.81-.48.05-.83.45-.83.93v5.5c0,.98-.8,1.78-1.78,1.78h-3.49c-.98,0-1.78-.8-1.78-1.78v-5.5c0-.48-.36-.88-.84-.93ZM16.61,1.86c-2.03,0-3.68,1.65-3.68,3.68,0,.51-.42.93-.93.93s-.93-.42-.93-.93c0-3.06,2.49-5.54,5.54-5.54,1.87,0,3.6.94,4.63,2.51.28.43.16,1.01-.27,1.29-.21.14-.45.18-.7.13-.24-.05-.45-.19-.59-.4h0c-.68-1.04-1.83-1.67-3.07-1.67Zm17.52,0c-1.24,0-2.39.62-3.07,1.66-.28.43-.86.55-1.29.27-.21-.14-.35-.35-.4-.59-.05-.24,0-.49.13-.7,1.03-1.57,2.75-2.5,4.63-2.5,3.06,0,5.54,2.49,5.54,5.54,0,.51-.42.93-.93.93s-.93-.42-.93-.93c0-2.03-1.65-3.68-3.68-3.68Z"/>
                    </g>
                  </svg>
                </div>
                <div class="text">
                  {{ general_information }}
                </div>
              </div>
            </div>
          {% endif %}

          {% if not (transmission is empty) %}
            <div class="info-block">
              <h3>Transmission</h3>
              <div class="info-block-holder">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 0 47.02 46.25">
                    <defs>
                      <style>.cls-1 {
                          fill: url(#Nueva_muestra_de_degradado_1);
                        }</style>
                      <linearGradient id="Nueva_muestra_de_degradado_1" x1="14.08" y1="40.74" x2="49.31" y2="5.51"
                                      gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#88c32f"/>
                        <stop offset="1" stop-color="#05b1f1"/>
                      </linearGradient>
                    </defs>
                    <g id="Capa_1-2">
                      <path class="cls-1"
                            d="m11.91,21.03l1.11-1.11s.05-.13,0-.18l-1.08-1.08s-.13-.05-.18,0l-1.11,1.11c-.38-.24-.78-.4-1.2-.5v-1.51c0-.07-.06-.12-.12-.12h-1.53c-.07,0-.12.06-.12.12v1.51c-.42.1-.83.27-1.2.5l-1.07-1.07s-.13-.05-.18,0l-1.08,1.08s-.05.13,0,.18l1.07,1.07c-.24.38-.4.78-.5,1.2h-1.51c-.07,0-.12.06-.12.12v1.53c0,.07.06.12.12.12h1.51c.1.42.27.83.5,1.2l-1.07,1.07s-.05.13,0,.18l1.08,1.08s.13.05.18,0l1.07-1.07c.37.23.78.4,1.2.5v1.51c0,.07.06.12.12.12h1.53c.07,0,.12-.06.12-.12v-1.51c.42-.1.83-.27,1.2-.5l1.07,1.07s.13.05.18,0l1.08-1.08s.05-.13,0-.18l-1.07-1.07c.23-.38.4-.78.5-1.2h1.51c.07,0,.12-.06.12-.12v-1.53c0-.07-.06-.12-.12-.12h-1.51c-.1-.42-.27-.83-.5-1.2Zm-1.18,2.09c0,1.2-.98,2.17-2.17,2.17s-2.17-.98-2.17-2.17.98-2.17,2.17-2.17,2.17.98,2.17,2.17Zm-1.28,0c0,.49-.4.89-.89.89s-.89-.4-.89-.89.4-.89.89-.89.89.4.89.89Zm-.89-8.56C3.84,14.57,0,18.41,0,23.12s3.84,8.56,8.56,8.56,8.56-3.84,8.56-8.56-3.84-8.56-8.56-8.56Zm6.78,8.56c0,3.74-3.04,6.78-6.78,6.78s-6.77-3.04-6.77-6.78,3.04-6.77,6.77-6.77,6.78,3.04,6.78,6.77Zm26.19-12.14c3.03,0,5.49-2.46,5.49-5.49s-2.46-5.49-5.49-5.49-5.49,2.46-5.49,5.49,2.46,5.49,5.49,5.49Zm0-9.2c2.04,0,3.71,1.66,3.71,3.71s-1.66,3.71-3.71,3.71-3.71-1.66-3.71-3.71,1.66-3.71,3.71-3.71Zm0,33.48c-3.03,0-5.49,2.46-5.49,5.49s2.46,5.49,5.49,5.49,5.49-2.46,5.49-5.49-2.46-5.49-5.49-5.49Zm0,9.2c-2.04,0-3.71-1.66-3.71-3.71s1.66-3.71,3.71-3.71,3.71,1.66,3.71,3.71-1.66,3.71-3.71,3.71Zm-7.06-35.59c.14.24.16.54.05.8l-1.51,3.53c-.13.31-.43.52-.77.54-.02,0-.03,0-.05,0-.32,0-.61-.17-.77-.45l-.7-1.22-12.51,7.22s-.04.02-.06.02c-.01,0-.02,0-.03,0-.03,0-.06-.03-.08-.06l-.77-1.33c-.03-.06-.01-.14.05-.17l12.51-7.22-.7-1.22c-.17-.29-.16-.65.03-.94.19-.29.51-.44.85-.39l3.81.46c.28.03.52.2.67.44Zm.05,28.46c.11.26.09.55-.05.8-.14.24-.39.41-.67.44l-3.81.46s-.07,0-.11,0c-.3,0-.58-.15-.75-.4h0c-.18-.28-.19-.65-.03-.94l.7-1.22-12.51-7.22c-.06-.03-.08-.11-.05-.17l.77-1.33s.04-.05.08-.06c.03,0,.07,0,.09.01l12.51,7.22.7-1.22c.17-.29.5-.46.83-.44.34.02.63.23.77.54l1.51,3.53Z"/>
                    </g>
                  </svg>
                </div>
                <div class="text">
                  {{ transmission }}
                </div>
              </div>
            </div>
          {% endif %}

          {% if not (symptoms is empty) %}
            <div class="info-block">
              <h3>Symptoms</h3>
              <div class="info-block-holder">
                <div class="icon">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       viewBox="0 0 49.9 50">
                    <defs>
                      <style>.cls-1 {
                          fill: url(#Nueva_muestra_de_degradado_1);
                        }</style>
                      <linearGradient id="Nueva_muestra_de_degradado_1" x1="3.49" y1="46.07" x2="49.73" y2="-.17"
                                      gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#88c32f"/>
                        <stop offset="1" stop-color="#05b1f1"/>
                      </linearGradient>
                    </defs>
                    <g id="Capa_1-2">
                      <path class="cls-1"
                            d="m24.91,25.81h2.42v2.42c0,.21.08.42.24.57s.36.24.57.24h3.23c.21,0,.42-.08.57-.24s.24-.36.24-.57v-2.42h2.42c.21,0,.42-.08.57-.24s.24-.36.24-.57v-3.23c0-.21-.08-.42-.24-.57s-.36-.24-.57-.24h-2.42v-2.42c0-.21-.08-.42-.24-.57s-.36-.24-.57-.24h-3.23c-.45,0-.81.36-.81.81v2.42h-2.42c-.45,0-.81.36-.81.81v3.23c0,.21.08.42.24.57s.36.24.57.24Zm.81-3.23h2.42c.21,0,.42-.08.57-.24s.24-.36.24-.57v-2.42h1.61v2.42c0,.21.08.42.24.57s.36.24.57.24h2.42v1.61h-2.42c-.45,0-.81.36-.81.81v2.42h-1.61v-2.42c0-.21-.08-.42-.24-.57s-.36-.24-.57-.24h-2.42v-1.61ZM2.69,28.23c.53,0,1.05-.16,1.49-.45.44-.29.78-.71.99-1.21l2-4.79v8.8l-1.41,16.27c-.01.1-.02.19-.02.29,0,.97.5,1.88,1.32,2.41s1.85.59,2.74.18c.88-.41,1.5-1.24,1.63-2.21l2.08-15.27h.2l2.08,15.26c.09.69.43,1.32.96,1.77.58.5,1.33.75,2.09.7.76-.06,1.47-.42,1.97-1,.49-.58.74-1.34.67-2.1l-1.18-13.58c1.86,1.78,4.19,3,6.72,3.52,2.53.51,5.15.3,7.56-.62l2.58,2.58c.31.31.83.31,1.14,0l.86-.86,5.38,5.37,1.14-1.14-5.38-5.38,2.85-2.85,5.38,5.38,1.14-1.14-5.38-5.38.86-.86c.31-.31.31-.83,0-1.14l-2.57-2.57c1.4-3.7,1.14-7.82-.73-11.31-1.87-3.49-5.15-6-9-6.89-3.86-.89-7.91-.06-11.11,2.26-1.06-1.15-2.56-1.8-4.12-1.8h-1.09c1.42-.85,2.4-2.28,2.68-3.92.27-1.64-.19-3.31-1.26-4.58-1.07-1.27-2.65-2-4.31-2s-3.23.73-4.31,2-1.53,2.94-1.26,4.58c.27,1.64,1.25,3.07,2.68,3.92h-1.09c-1.13,0-2.23.33-3.17.96-.93.63-1.66,1.53-2.07,2.58L.19,24.56c-.12.31-.19.65-.19.99,0,.71.29,1.4.79,1.9.51.5,1.19.79,1.9.79h0Zm40.74,3.15l-5.7,5.7-1.57-1.57c2.43-1.29,4.41-3.28,5.7-5.7l1.57,1.57Zm-13.68-20.08c3.76,0,7.31,1.75,9.6,4.73,2.29,2.98,3.06,6.86,2.09,10.49-.97,3.63-3.58,6.6-7.05,8.04-3.47,1.44-7.42,1.18-10.68-.7-3.26-1.88-5.45-5.17-5.94-8.9-.49-3.73.78-7.47,3.44-10.13,2.26-2.28,5.34-3.55,8.55-3.54h0ZM9.59,5.65c0-1.07.42-2.09,1.18-2.85.76-.76,1.78-1.18,2.85-1.18s2.09.42,2.85,1.18c.76.76,1.18,1.78,1.18,2.85s-.42,2.09-1.18,2.85c-.76.76-1.78,1.18-2.85,1.18-1.07,0-2.09-.43-2.85-1.18-.76-.76-1.18-1.78-1.18-2.85h0ZM1.69,25.14l4.2-10.51c.3-.75.81-1.39,1.48-1.84.67-.45,1.46-.69,2.26-.69h7.97c1.08,0,2.12.44,2.87,1.21-.14.13-.29.25-.42.38-2.28,2.27-3.68,5.27-3.96,8.48-.28,3.2.57,6.4,2.41,9.04l1.38,15.81c.05.51-.22.99-.68,1.22-.45.23-1,.16-1.39-.18-.23-.2-.38-.47-.41-.77l-2.18-15.97c-.06-.4-.4-.7-.8-.7h-1.61c-.4,0-.74.3-.8.7l-2.18,15.97c-.09.65-.67,1.11-1.32,1.07-.65-.04-1.16-.58-1.16-1.24,0-.04,0-.08,0-.12l1.42-16.38v-12.9c0-.38-.27-.72-.65-.79-.38-.08-.75.13-.9.48l-3.55,8.52c-.2.47-.7.74-1.2.64-.5-.1-.87-.54-.87-1.05,0-.14.03-.27.08-.4h0ZM42.65.01h7.26v1.61h-7.26V.01Zm0,3.23h7.26v1.61h-7.26v-1.61Zm0,3.23h7.26v1.61h-7.26v-1.61ZM39.42.01h1.61v1.61h-1.61V.01Zm0,3.23h1.61v1.61h-1.61v-1.61Zm0,3.23h1.61v1.61h-1.61v-1.61Zm-17.09,24.34c1.97,1.97,4.63,3.07,7.41,3.07s5.45-1.1,7.41-3.07c1.97-1.97,3.07-4.63,3.07-7.41s-1.1-5.45-3.07-7.41c-1.97-1.97-4.63-3.07-7.41-3.07s-5.45,1.1-7.41,3.07c-1.97,1.96-3.08,4.63-3.08,7.41s1.11,5.45,3.08,7.41Zm1.14-13.68c1.66-1.66,3.92-2.6,6.27-2.6s4.61.93,6.27,2.6c1.66,1.66,2.6,3.92,2.6,6.27s-.93,4.61-2.6,6.27c-1.66,1.66-3.92,2.6-6.27,2.6s-4.61-.93-6.27-2.6c-1.67-1.66-2.61-3.92-2.61-6.27s.94-4.61,2.61-6.27h0Z"/>
                    </g>
                  </svg>
                </div>
                <div class="text">
                  {{ symptoms }}
                </div>
              </div>
            </div>
          {% endif %}
        </div>

        {% if not (epidemiology is empty) %}
          <div class="right-col">
            {% if not (epidemiology_title is empty) %}
              <h3>{{ epidemiology_title }}</h3>
            {% endif %}

            <div class="epidemiology">
              {% for epidemiology_item in epidemiology %}
                {% set year = epidemiology_item['year'] %}
                {% set description = epidemiology_item['description'] %}
                {% set subdescription = epidemiology_item['subdescription'] %}

                <div class="block">
                  <div class="icon">
                    {% if not (year is empty) %}
                      {{ year }}
                    {% else %}
                      <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_658_328)">
                          <path
                            d="M22.7513 37.7183C31.0175 37.7183 37.7185 31.0172 37.7185 22.7511C37.7185 14.485 31.0175 7.78397 22.7513 7.78397C14.4852 7.78397 7.78418 14.485 7.78418 22.7511C7.78418 31.0172 14.4852 37.7183 22.7513 37.7183Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M22.7513 27.0727C31.0175 27.0727 37.7185 25.1378 37.7185 22.7511C37.7185 20.3644 31.0175 18.4296 22.7513 18.4296C14.4852 18.4296 7.78418 20.3644 7.78418 22.7511C7.78418 25.1378 14.4852 27.0727 22.7513 27.0727Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M22.7512 37.7183C25.1379 37.7183 27.0728 31.0172 27.0728 22.7511C27.0728 14.485 25.1379 7.78397 22.7512 7.78397C20.3645 7.78397 18.4297 14.485 18.4297 22.7511C18.4297 31.0172 20.3645 37.7183 22.7512 37.7183Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path d="M7.78383 22.7511H2.13574" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path d="M43.3668 22.7511H37.7188" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path d="M22.751 7.78397L22.751 2.13588" stroke="white" stroke-width="1.5"
                                stroke-miterlimit="10"/>
                          <path d="M22.751 43.3664L22.751 37.7183" stroke="white" stroke-width="1.5"
                                stroke-miterlimit="10"/>
                          <path d="M33.335 12.1677L37.3288 8.17393" stroke="white" stroke-width="1.5"
                                stroke-miterlimit="10"/>
                          <path d="M8.17383 37.3283L12.1676 33.3345" stroke="white" stroke-width="1.5"
                                stroke-miterlimit="10"/>
                          <path d="M33.335 33.3345L37.3288 37.3283" stroke="white" stroke-width="1.5"
                                stroke-miterlimit="10"/>
                          <path d="M8.17383 8.17395L12.1676 12.1678" stroke="white" stroke-width="1.5"
                                stroke-miterlimit="10"/>
                          <path
                            d="M44.0592 23.4441C44.4419 23.4441 44.7521 23.1338 44.7521 22.7511C44.7521 22.3684 44.4419 22.0582 44.0592 22.0582C43.6765 22.0582 43.3662 22.3684 43.3662 22.7511C43.3662 23.1338 43.6765 23.4441 44.0592 23.4441Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M1.44294 23.4441C1.82564 23.4441 2.13588 23.1338 2.13588 22.7511C2.13588 22.3684 1.82564 22.0582 1.44294 22.0582C1.06024 22.0582 0.75 22.3684 0.75 22.7511C0.75 23.1338 1.06024 23.4441 1.44294 23.4441Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M38.9219 8.55013C40.1311 8.55013 41.1114 7.56988 41.1114 6.36067C41.1114 5.15146 40.1311 4.1712 38.9219 4.1712C37.7127 4.1712 36.7324 5.15146 36.7324 6.36067C36.7324 7.56988 37.7127 8.55013 38.9219 8.55013Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M6.36036 41.331C7.56957 41.331 8.54983 40.3508 8.54983 39.1416C8.54983 37.9324 7.56957 36.9521 6.36036 36.9521C5.15115 36.9521 4.1709 37.9324 4.1709 39.1416C4.1709 40.3508 5.15115 41.331 6.36036 41.331Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M39.0313 41.2211C40.2405 41.2211 41.2207 40.2409 41.2207 39.0317C41.2207 37.8225 40.2405 36.8422 39.0313 36.8422C37.8221 36.8422 36.8418 37.8225 36.8418 39.0317C36.8418 40.2409 37.8221 41.2211 39.0313 41.2211Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M6.25099 8.66006C7.4602 8.66006 8.44045 7.6798 8.44045 6.47059C8.44045 5.26138 7.4602 4.28113 6.25099 4.28113C5.04178 4.28113 4.06152 5.26138 4.06152 6.47059C4.06152 7.6798 5.04178 8.66006 6.25099 8.66006Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M22.7515 44.7522C23.1342 44.7522 23.4445 44.442 23.4445 44.0593C23.4445 43.6766 23.1342 43.3664 22.7515 43.3664C22.3688 43.3664 22.0586 43.6766 22.0586 44.0593C22.0586 44.442 22.3688 44.7522 22.7515 44.7522Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                          <path
                            d="M22.7515 2.13588C23.1342 2.13588 23.4445 1.82564 23.4445 1.44294C23.4445 1.06024 23.1342 0.75 22.7515 0.75C22.3688 0.75 22.0586 1.06024 22.0586 1.44294C22.0586 1.82564 22.3688 2.13588 22.7515 2.13588Z"
                            stroke="white" stroke-width="1.5" stroke-miterlimit="10"/>
                        </g>
                        <defs>
                          <clipPath id="clip0_658_328">
                            <rect width="45.5022" height="45.5022" fill="white"/>
                          </clipPath>
                        </defs>
                      </svg>
                    {% endif %}
                  </div>
                  {% if not (description is empty) or not (subdescription is empty) %}
                    <div class="text">
                      {% if not (description is empty) %}
                        <div class="description">
                          {{ description }}
                        </div>
                      {% endif %}
                      {% if not (subdescription is empty) %}
                        <div class="sub-description">
                          {{ subdescription }}
                        </div>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="single-disease-content">
    <div class="sk-container">
      {% if vaccines_pipeline_override and not (vaccines_pipeline_blocks is empty) %}
        {% for vaccines_pipeline_block in vaccines_pipeline_blocks %}
          {% set strain_title = vaccines_pipeline_block['strain_title'] %}
          {% set vaccines_in_pipeline = vaccines_pipeline_block['vaccines_in_pipeline'] %}
          {% set technology_platform_description = vaccines_pipeline_block['technology_platform_description'] %}
          {% set development_phases_description = vaccines_pipeline_block['development_phases_description'] %}
          {% set trial_population_description = vaccines_pipeline_block['trial_population_description'] %}

          <div class="info-block">
            <div class="title-holder">
              {% if not (strain_title is empty) %}
                <div class="strain-title">
                  {{ strain_title }}
                </div>
              {% endif %}
              <div class="flex-holder">
                {% if not (vaccines_pipeline_title is empty) %}
                  <h3>{{ vaccines_pipeline_title }}</h3>
                {% endif %}

                {% if not (vaccines_in_pipeline is empty) %}
                  <div class="vaccines-in-pipeline">
                    {{ vaccines_in_pipeline }}
                  </div>

                  <div class="text">
                    Vaccines in<br>
                    <strong>the pipeline</strong>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="blocks">
              {% if not (technology_platform_description is empty) %}
                <div class="block technology-platforms">
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.5 72.5">
                      <defs>
                        <style>.cls-111 {
                            fill: #f5a623;
                          }</style>
                      </defs>
                      <g id="Capa_1-2">
                        <g>
                          <path class="cls-111"
                                d="m32.5,41.81c-.06-1.07-.52-2.01-1.38-2.84-.83-.71-1.78-1.08-2.83-1.08h-.23c-1.13.06-2.1.54-2.9,1.42-.64.73-1,1.56-1.06,2.4-.02.16-.04.37.02.6v.05c.04,1.13.5,2.11,1.4,2.96.45.36.96.65,1.58.87l.21.06c.28.07.57.1.9.1.15,0,.3,0,.46-.02l.61-.09s.09-.02.13-.03l.27-.08c.66-.22,1.26-.62,1.77-1.19.67-.75,1.03-1.58,1.07-2.46l.02-.29c0-.1,0-.19-.03-.29l-.03-.11Zm-1.96.58c-.02.42-.21.82-.56,1.22-.28.31-.58.51-.88.61l-.64.12c-.25.02-.48,0-.61-.02l-.12-.04c-.36-.12-.66-.29-.88-.47-.47-.44-.7-.93-.72-1.5v-.17c0-.06-.01-.14-.03-.21,0,0,0-.01,0-.02.03-.46.22-.88.56-1.27.43-.47.92-.72,1.46-.75h.17c.57,0,1.06.19,1.48.55.48.46.71.95.73,1.54,0,.07.01.13.03.2v.05s0,.15,0,.15Z"/>
                          <path class="cls-111"
                                d="m41.79,43.78l-1.53-1.12-.04-1.47,1.48-1.25s.05-.05.08-.08c.39-.42.5-.99.29-1.56l-1.47-3.71c-.22-.68-.82-1.04-1.52-.94l-2.18.28c-.17-.21-.34-.41-.49-.59-.07-.08-.18-.16-.27-.21l-.21-.14.08-2.08c.08-.66-.28-1.23-.89-1.44l-3.46-1.39c-.65-.25-1.32-.06-1.66.46l-1.32,1.74c-.4,0-.75.02-1.05.05h-.53l-1.55-1.53c-.44-.39-.99-.48-1.52-.26l-3.68,1.57c-.68.29-1.01.94-.84,1.66l.4,1.65c-.29.27-.57.56-.84.88-.16.18-.31.36-.46.54l-1.75-.1c-.72-.1-1.34.3-1.55,1l-1,3.25c-.18.67.09,1.31.66,1.62l1.09.71c-.03.63-.03,1.22.01,1.74,0,.35.02.7.06,1.05l-1.02.71c-.66.39-.88,1.13-.58,1.74l1.34,3.32c.22.69.87,1.06,1.56.92l1.58-.21c.32.36.62.66.91.93.03.04.07.07.11.1l.78.58v1.6c.02.58.36,1.05.94,1.29l3.19,1.16c.11.04.23.06.34.06.4,0,.77-.16,1.12-.52l.94-1.14c.52.04,1.01.04,1.54.01l.12-.02c.3-.03.58-.06.84-.1l1.08,1.18c.44.49,1.11.61,1.75.29l3.18-1.76c.58-.32.86-.92.72-1.58l-.27-1.23c.29-.28.58-.61.85-.97.28-.3.54-.6.77-.89l1.44.2c.69.09,1.29-.25,1.52-.86l1.37-3.44c.27-.63.07-1.3-.49-1.7Zm-2.57,3.96l-1.6-.22c-.38-.06-.76.12-.97.44-.25.38-.57.77-.96,1.18-.03.03-.06.06-.08.1-.32.44-.66.8-1,1.07-.3.24-.44.62-.36,1l.31,1.4-2.44,1.34-1.13-1.23c-.21-.23-.51-.35-.81-.32l-.31.02s-.07,0-.1.01c-.28.05-.58.09-.97.13l-.09.02c-.5.03-1.03,0-1.62-.06-.04,0-.14,0-.18,0-.3,0-.58.13-.77.36l-1,1.22-2.33-.85v-1.66c0-.32-.15-.61-.4-.8l-1.13-.84c-.33-.31-.7-.7-1.1-1.16-.22-.26-.55-.39-.9-.35l-1.71.22-1.02-2.52,1.21-.84c.32-.22.48-.61.42-1-.08-.45-.12-.89-.12-1.41-.04-.66-.04-1.37.02-2.12.03-.37-.15-.72-.45-.92l-1.28-.83.73-2.37,1.94.11c.36.02.68-.14.87-.42.19-.27.41-.54.67-.84.35-.41.7-.76,1.06-1.04.31-.24.45-.64.36-1.03l-.43-1.77,2.89-1.23,1.53,1.51c.19.18.44.29.7.29h1.03c.44-.04.9-.06,1.44-.05.33,0,.62-.14.81-.39l1.36-1.79,2.68,1.07-.09,2.3c-.01.35.16.68.45.88l.66.43c.2.23.42.5.64.8.21.29.57.44.94.4l2.3-.3,1.19,3-1.51,1.28c-.23.2-.36.49-.35.79l.06,2.44c0,.31.16.6.41.78l1.58,1.15-1.04,2.6Z"/>
                          <path class="cls-111"
                                d="m57.64,26.96l-.82-.57v-.37s0-.08,0-.12v-.13s.77-.7.77-.7c.44-.39.59-.96.38-1.58l-.99-2.57c-.25-.62-.84-.95-1.5-.86l-1.25.14c-.12-.12-.25-.25-.39-.37l.04-1.18c.07-.66-.3-1.23-.87-1.41l-2.34-.95c-.64-.25-1.28-.08-1.67.44l-.76,1.01c-.22,0-.4.02-.55.04h-.08l-.87-.89s-.05-.05-.08-.08c-.45-.36-1-.45-1.51-.23l-2.49,1.06c-.67.29-1,.94-.83,1.67l.22.83c-.15.14-.28.28-.39.42-.07.07-.14.15-.21.24l-.89-.05c-.71-.09-1.32.28-1.55.99l-.67,2.23c-.18.67.09,1.31.67,1.61l.5.32c0,.32,0,.63.03.93,0,.18,0,.34.01.49l-.48.35c-.62.38-.83,1.08-.54,1.71l.88,2.23c.22.69.86,1.07,1.56.92l.82-.1.4.44c.06.06.14.13.22.18l.28.22v.82c0,.6.36,1.1.92,1.31l2.07.79c.07.03.15.05.22.06l.17.02s.09,0,.13,0c.43,0,.81-.18,1.06-.47l.52-.59c.27,0,.56,0,.86-.02l.11-.02c.11,0,.24-.01.37-.03l.56.61c.48.53,1.2.64,1.75.29l2.2-1.22c.55-.32.81-.92.67-1.56l-.13-.58c.14-.15.28-.31.43-.48l.34-.42.65.1c.71.13,1.31-.22,1.57-.87l.94-2.27c.31-.62.15-1.31-.46-1.79Zm-2.16,2.89l-.79-.12c-.35-.06-.7.08-.93.35l-.69.84c-.24.28-.48.54-.71.78-.23.24-.33.58-.26.91l.16.71-1.4.78-.62-.68c-.23-.25-.57-.37-.91-.31l-.16.03c-.47.09-.51.06-.62.08l-.12.02c-.32.03-.64.02-.94-.02-.33-.04-.66.08-.88.33l-.59.67-1.34-.52v-.9c0-.31-.15-.61-.39-.8l-.72-.55s0,0-.01,0l-.65-.71c-.22-.24-.54-.36-.86-.32l-.94.12-.56-1.43.63-.45c.31-.22.47-.6.41-.98-.03-.21-.05-.46-.05-.89-.04-.45-.04-.87,0-1.26.04-.38-.14-.74-.46-.95l-.69-.44.4-1.33,1.1.06c.36.02.7-.15.9-.45.16-.25.28-.38.33-.43.03-.03.05-.05.07-.08.14-.18.36-.38.62-.59.31-.25.44-.65.34-1.03l-.25-.94,1.7-.72.89.91c.19.19.45.3.71.3h.57c.05,0,.1,0,.15-.01.09-.01.31-.04.84-.04.32,0,.61-.15.8-.4l.77-1.03,1.55.62-.05,1.33c-.01.32.13.63.38.83l.36.28c.17.15.33.32.48.5.21.27.55.41.89.37l1.35-.15.68,1.74-.86.77c-.24.21-.36.53-.33.84l.06.57-.02.84c0,.34.15.65.43.85l.87.61-.63,1.52Z"/>
                          <path class="cls-111"
                                d="m50.59,23.61s-.02-.02-.03-.03c-.74-.62-1.59-.9-2.52-.85-.95.04-1.77.43-2.44,1.15-.52.59-.82,1.25-.88,1.97-.03.13-.05.33,0,.56v.05c.04.93.42,1.75,1.11,2.44.04.04.09.08.14.12.35.24.71.44,1.11.6.08.04.17.06.27.07h.1c.26.07.52.09.79.09.04,0,.09,0,.13,0l.11-.02c.2,0,.37-.03.54-.07.16-.01.3-.04.41-.09.58-.18,1.07-.53,1.47-1.02.54-.58.83-1.28.85-1.99l.02-.24s0-.11,0-.14c0-.08,0-.16-.03-.23-.05-.91-.44-1.72-1.15-2.37Zm-.84,2.87c0,.29-.11.54-.33.77-.02.03-.05.05-.07.08-.15.19-.32.32-.51.38-.09,0-.24.03-.33.06,0,0-.12,0-.25.02h-.1c-.1,0-.21,0-.4-.04h-.05c-.19-.09-.37-.19-.54-.3-.29-.32-.45-.66-.46-1.01v-.16s0-.09,0-.13c0-.02,0-.05,0-.07.02-.3.14-.58.37-.83.3-.32.62-.48,1.06-.5.42-.02.77.09,1.11.37.33.31.49.64.49,1.04,0,.06,0,.11.02.17l-.02.17Z"/>
                        </g>
                      </g>
                      <g id="Capa_2-2">
                        <path class="cls-111"
                              d="m36.25,0C16.26,0,0,16.26,0,36.25s16.26,36.25,36.25,36.25,36.25-16.26,36.25-36.25S56.24,0,36.25,0Zm0,70c-18.61,0-33.75-15.14-33.75-33.75S17.64,2.5,36.25,2.5s33.75,15.14,33.75,33.75-15.14,33.75-33.75,33.75Z"/>
                      </g>
                    </svg>
                  </div>
                  <h4>Technology Platforms</h4>
                  <div class="text">
                    {{ technology_platform_description }}
                  </div>
                </div>
              {% endif %}

              {% if not (development_phases_description is empty) %}
                <div class="block development-phases">
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.5 72.5">
                      <defs>
                        <style>.cls-11 {
                            fill: #d94747;
                          }</style>
                      </defs>
                      <g id="Capa_1-2">
                        <path class="cls-11"
                              d="m58,19.04c-.82-.83-1.92-1.29-3.08-1.29-2.4,0-4.36,1.95-4.36,4.36,0,.98.33,1.92.94,2.69l-7.76,11.07c-.33-.08-.69-.12-1.05-.12-1.22,0-2.36.5-3.19,1.38l-5.58-3.26c.18-.48.27-.98.27-1.48,0-2.4-1.96-4.36-4.36-4.36s-4.36,1.96-4.36,4.36c0,.98.33,1.92.94,2.69l-7.76,11.08c-.33-.08-.69-.12-1.05-.12-2.4,0-4.36,1.96-4.36,4.36s1.95,4.36,4.36,4.36,4.36-1.96,4.36-4.36c0-1.19-.47-2.3-1.3-3.11l7.61-10.84c1.5.61,3.17.29,4.35-.69l5.83,3.42c-.08.33-.12.64-.12.95,0,2.4,1.96,4.36,4.36,4.36s4.36-1.96,4.36-4.36c0-1.19-.47-2.3-1.3-3.11l7.57-10.84c.51.21,1.04.32,1.58.32,2.4,0,4.36-1.96,4.36-4.35.01-1.16-.43-2.26-1.25-3.08Zm-13.23,21.07c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.91-2.07,2.07-2.07,2.07.93,2.07,2.07Zm12.21-18c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.93-2.07,2.07-2.07,2.07.93,2.07,2.07Zm-37.29,28.29c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.93-2.07,2.07-2.07,2.07.93,2.07,2.07Zm12.21-18c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.91-2.07,2.07-2.07,2.07.93,2.07,2.07Z"/>
                      </g>
                      <g id="Capa_2-2">
                        <path class="cls-11"
                              d="m36.25,0C16.26,0,0,16.26,0,36.25s16.26,36.25,36.25,36.25,36.25-16.26,36.25-36.25S56.24,0,36.25,0Zm0,70c-18.61,0-33.75-15.14-33.75-33.75S17.64,2.5,36.25,2.5s33.75,15.14,33.75,33.75-15.14,33.75-33.75,33.75Z"/>
                      </g>
                    </svg>
                  </div>
                  <h4>DEVELOPMENT PHASES</h4>
                  <div class="text">
                    {{ development_phases_description }}
                  </div>
                </div>
              {% endif %}

              {% if not (trial_population_description is empty) %}
                <div class="block trial-population">
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.5 72.5">
                      <defs>
                        <style>.cls-12 {
                            fill: #88c32f;
                          }</style>
                      </defs>
                      <g id="Capa_1-2">
                        <g>
                          <path class="cls-12"
                                d="m61,43.53c-.92-5.78-3.88-9.23-8.4-9.9,2.26-.71,3.9-2.82,3.9-5.31,0-3.07-2.5-5.57-5.57-5.57s-5.57,2.5-5.57,5.57c0,2.48,1.63,4.59,3.88,5.31-1.45.21-2.73.71-3.85,1.51-.24.17-.39.44-.41.74-.02.29.09.59.3.79.17.17.34.34.56.51,2.05,2.18,3.42,5.29,4.08,9.25,0,.12.03.23.05.33,0,.55.44.99.99,1,.15,0,.31,0,.47,0,3.35,0,7.45-.4,8.98-2.17.51-.59.71-1.3.58-2.05Zm-13.64-15.21c0-1.97,1.6-3.57,3.57-3.57s3.57,1.6,3.57,3.57-1.6,3.57-3.57,3.57-3.57-1.6-3.57-3.57Zm11.54,15.97c-.57.67-2.76,1.43-7.05,1.47-.71-4-2.14-7.23-4.23-9.61.95-.44,2.05-.65,3.31-.65,4.49,0,7.22,2.81,8.1,8.35,0,0,0,0,0,0,.02.14,0,.26-.13.43Z"/>
                          <path class="cls-12"
                                d="m27.22,36.66c.21-.21.31-.5.29-.79-.02-.29-.17-.56-.41-.73-1.1-.79-2.4-1.3-3.85-1.51,2.25-.71,3.89-2.82,3.89-5.31,0-3.07-2.5-5.57-5.57-5.57s-5.57,2.5-5.57,5.57c0,2.49,1.64,4.6,3.9,5.31-4.48.67-7.44,4.12-8.4,9.9-.12.74.07,1.45.57,2.04,1.57,1.86,6.03,2.25,9.5,2.25.55,0,1-.45,1-1,0-.04,0-.07,0-.11.02-.06.03-.11.04-.17.61-3.99,2-7.16,4.14-9.4l.47-.48Zm-9.22-8.34c0-1.97,1.6-3.57,3.57-3.57s3.57,1.6,3.57,3.57-1.6,3.57-3.57,3.57-3.57-1.6-3.57-3.57Zm2.7,17.49c-4.35-.09-6.54-.86-7.11-1.53-.14-.16-.15-.28-.13-.42.92-5.55,3.65-8.36,8.1-8.36,1.26,0,2.38.23,3.35.67-2.13,2.42-3.55,5.66-4.21,9.63Z"/>
                          <path class="cls-12"
                                d="m38.72,34.06c2.72-1.01,4.66-3.62,4.66-6.68,0-3.93-3.2-7.13-7.13-7.13s-7.13,3.2-7.13,7.13c0,3.06,1.95,5.67,4.66,6.68-5.68.98-9.43,5.47-10.67,12.89-.14.88.09,1.71.69,2.42,2.13,2.51,8.71,2.89,12.45,2.89s10.31-.38,12.45-2.89c.59-.7.83-1.54.69-2.42-1.24-7.42-5-11.9-10.67-12.89Zm-7.59-6.68c0-2.83,2.3-5.13,5.13-5.13s5.13,2.3,5.13,5.13-2.3,5.13-5.13,5.13-5.13-2.3-5.13-5.13Zm16.05,20.69c-1.14,1.34-5.33,2.18-10.92,2.18s-9.78-.84-10.92-2.18c-.22-.26-.29-.5-.24-.79,1.26-7.58,5.02-11.42,11.16-11.42,7.64,0,10.29,6.21,11.16,11.42.05.3-.02.54-.24.8Z"/>
                        </g>
                      </g>
                      <g id="Capa_2-2">
                        <path class="cls-12"
                              d="m36.25,0C16.26,0,0,16.26,0,36.25s16.26,36.25,36.25,36.25,36.25-16.26,36.25-36.25S56.24,0,36.25,0Zm0,70c-18.61,0-33.75-15.14-33.75-33.75S17.64,2.5,36.25,2.5s33.75,15.14,33.75,33.75-15.14,33.75-33.75,33.75Z"/>
                      </g>
                    </svg>
                  </div>
                  <h4>TRIAL POPULATION</h4>
                  <div class="text">
                    {{ trial_population_description }}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}

      {% if not vaccines_pipeline_override %}
        {% if not ( post.terms('technology-platform') is empty ) or not ( post.terms('development-phase') is empty ) or not ( post.terms('trial-population') is empty ) %}
          <div class="info-block">
            <div class="title-holder">
              <div class="flex-holder">
                {% if not (vaccines_pipeline_title is empty) %}
                  <h3>{{ vaccines_pipeline_title }}</h3>
                {% endif %}

                {% if not (vaccines_in_pipeline is empty) %}
                  <div class="vaccines-in-pipeline">
                    {{ vaccines_in_pipeline }}
                  </div>

                  <div class="text">
                    Vaccines in<br>
                    <strong>the pipeline</strong>
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="blocks">
              {% if not (post.terms('technology-platform') is empty) %}
                <div class="block technology-platforms">
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.5 72.5">
                      <defs>
                        <style>.cls-111 {
                            fill: #f5a623;
                          }</style>
                      </defs>
                      <g id="Capa_1-2">
                        <g>
                          <path class="cls-111"
                                d="m32.5,41.81c-.06-1.07-.52-2.01-1.38-2.84-.83-.71-1.78-1.08-2.83-1.08h-.23c-1.13.06-2.1.54-2.9,1.42-.64.73-1,1.56-1.06,2.4-.02.16-.04.37.02.6v.05c.04,1.13.5,2.11,1.4,2.96.45.36.96.65,1.58.87l.21.06c.28.07.57.1.9.1.15,0,.3,0,.46-.02l.61-.09s.09-.02.13-.03l.27-.08c.66-.22,1.26-.62,1.77-1.19.67-.75,1.03-1.58,1.07-2.46l.02-.29c0-.1,0-.19-.03-.29l-.03-.11Zm-1.96.58c-.02.42-.21.82-.56,1.22-.28.31-.58.51-.88.61l-.64.12c-.25.02-.48,0-.61-.02l-.12-.04c-.36-.12-.66-.29-.88-.47-.47-.44-.7-.93-.72-1.5v-.17c0-.06-.01-.14-.03-.21,0,0,0-.01,0-.02.03-.46.22-.88.56-1.27.43-.47.92-.72,1.46-.75h.17c.57,0,1.06.19,1.48.55.48.46.71.95.73,1.54,0,.07.01.13.03.2v.05s0,.15,0,.15Z"/>
                          <path class="cls-111"
                                d="m41.79,43.78l-1.53-1.12-.04-1.47,1.48-1.25s.05-.05.08-.08c.39-.42.5-.99.29-1.56l-1.47-3.71c-.22-.68-.82-1.04-1.52-.94l-2.18.28c-.17-.21-.34-.41-.49-.59-.07-.08-.18-.16-.27-.21l-.21-.14.08-2.08c.08-.66-.28-1.23-.89-1.44l-3.46-1.39c-.65-.25-1.32-.06-1.66.46l-1.32,1.74c-.4,0-.75.02-1.05.05h-.53l-1.55-1.53c-.44-.39-.99-.48-1.52-.26l-3.68,1.57c-.68.29-1.01.94-.84,1.66l.4,1.65c-.29.27-.57.56-.84.88-.16.18-.31.36-.46.54l-1.75-.1c-.72-.1-1.34.3-1.55,1l-1,3.25c-.18.67.09,1.31.66,1.62l1.09.71c-.03.63-.03,1.22.01,1.74,0,.35.02.7.06,1.05l-1.02.71c-.66.39-.88,1.13-.58,1.74l1.34,3.32c.22.69.87,1.06,1.56.92l1.58-.21c.32.36.62.66.91.93.03.04.07.07.11.1l.78.58v1.6c.02.58.36,1.05.94,1.29l3.19,1.16c.11.04.23.06.34.06.4,0,.77-.16,1.12-.52l.94-1.14c.52.04,1.01.04,1.54.01l.12-.02c.3-.03.58-.06.84-.1l1.08,1.18c.44.49,1.11.61,1.75.29l3.18-1.76c.58-.32.86-.92.72-1.58l-.27-1.23c.29-.28.58-.61.85-.97.28-.3.54-.6.77-.89l1.44.2c.69.09,1.29-.25,1.52-.86l1.37-3.44c.27-.63.07-1.3-.49-1.7Zm-2.57,3.96l-1.6-.22c-.38-.06-.76.12-.97.44-.25.38-.57.77-.96,1.18-.03.03-.06.06-.08.1-.32.44-.66.8-1,1.07-.3.24-.44.62-.36,1l.31,1.4-2.44,1.34-1.13-1.23c-.21-.23-.51-.35-.81-.32l-.31.02s-.07,0-.1.01c-.28.05-.58.09-.97.13l-.09.02c-.5.03-1.03,0-1.62-.06-.04,0-.14,0-.18,0-.3,0-.58.13-.77.36l-1,1.22-2.33-.85v-1.66c0-.32-.15-.61-.4-.8l-1.13-.84c-.33-.31-.7-.7-1.1-1.16-.22-.26-.55-.39-.9-.35l-1.71.22-1.02-2.52,1.21-.84c.32-.22.48-.61.42-1-.08-.45-.12-.89-.12-1.41-.04-.66-.04-1.37.02-2.12.03-.37-.15-.72-.45-.92l-1.28-.83.73-2.37,1.94.11c.36.02.68-.14.87-.42.19-.27.41-.54.67-.84.35-.41.7-.76,1.06-1.04.31-.24.45-.64.36-1.03l-.43-1.77,2.89-1.23,1.53,1.51c.19.18.44.29.7.29h1.03c.44-.04.9-.06,1.44-.05.33,0,.62-.14.81-.39l1.36-1.79,2.68,1.07-.09,2.3c-.01.35.16.68.45.88l.66.43c.2.23.42.5.64.8.21.29.57.44.94.4l2.3-.3,1.19,3-1.51,1.28c-.23.2-.36.49-.35.79l.06,2.44c0,.31.16.6.41.78l1.58,1.15-1.04,2.6Z"/>
                          <path class="cls-111"
                                d="m57.64,26.96l-.82-.57v-.37s0-.08,0-.12v-.13s.77-.7.77-.7c.44-.39.59-.96.38-1.58l-.99-2.57c-.25-.62-.84-.95-1.5-.86l-1.25.14c-.12-.12-.25-.25-.39-.37l.04-1.18c.07-.66-.3-1.23-.87-1.41l-2.34-.95c-.64-.25-1.28-.08-1.67.44l-.76,1.01c-.22,0-.4.02-.55.04h-.08l-.87-.89s-.05-.05-.08-.08c-.45-.36-1-.45-1.51-.23l-2.49,1.06c-.67.29-1,.94-.83,1.67l.22.83c-.15.14-.28.28-.39.42-.07.07-.14.15-.21.24l-.89-.05c-.71-.09-1.32.28-1.55.99l-.67,2.23c-.18.67.09,1.31.67,1.61l.5.32c0,.32,0,.63.03.93,0,.18,0,.34.01.49l-.48.35c-.62.38-.83,1.08-.54,1.71l.88,2.23c.22.69.86,1.07,1.56.92l.82-.1.4.44c.06.06.14.13.22.18l.28.22v.82c0,.6.36,1.1.92,1.31l2.07.79c.07.03.15.05.22.06l.17.02s.09,0,.13,0c.43,0,.81-.18,1.06-.47l.52-.59c.27,0,.56,0,.86-.02l.11-.02c.11,0,.24-.01.37-.03l.56.61c.48.53,1.2.64,1.75.29l2.2-1.22c.55-.32.81-.92.67-1.56l-.13-.58c.14-.15.28-.31.43-.48l.34-.42.65.1c.71.13,1.31-.22,1.57-.87l.94-2.27c.31-.62.15-1.31-.46-1.79Zm-2.16,2.89l-.79-.12c-.35-.06-.7.08-.93.35l-.69.84c-.24.28-.48.54-.71.78-.23.24-.33.58-.26.91l.16.71-1.4.78-.62-.68c-.23-.25-.57-.37-.91-.31l-.16.03c-.47.09-.51.06-.62.08l-.12.02c-.32.03-.64.02-.94-.02-.33-.04-.66.08-.88.33l-.59.67-1.34-.52v-.9c0-.31-.15-.61-.39-.8l-.72-.55s0,0-.01,0l-.65-.71c-.22-.24-.54-.36-.86-.32l-.94.12-.56-1.43.63-.45c.31-.22.47-.6.41-.98-.03-.21-.05-.46-.05-.89-.04-.45-.04-.87,0-1.26.04-.38-.14-.74-.46-.95l-.69-.44.4-1.33,1.1.06c.36.02.7-.15.9-.45.16-.25.28-.38.33-.43.03-.03.05-.05.07-.08.14-.18.36-.38.62-.59.31-.25.44-.65.34-1.03l-.25-.94,1.7-.72.89.91c.19.19.45.3.71.3h.57c.05,0,.1,0,.15-.01.09-.01.31-.04.84-.04.32,0,.61-.15.8-.4l.77-1.03,1.55.62-.05,1.33c-.01.32.13.63.38.83l.36.28c.17.15.33.32.48.5.21.27.55.41.89.37l1.35-.15.68,1.74-.86.77c-.24.21-.36.53-.33.84l.06.57-.02.84c0,.34.15.65.43.85l.87.61-.63,1.52Z"/>
                          <path class="cls-111"
                                d="m50.59,23.61s-.02-.02-.03-.03c-.74-.62-1.59-.9-2.52-.85-.95.04-1.77.43-2.44,1.15-.52.59-.82,1.25-.88,1.97-.03.13-.05.33,0,.56v.05c.04.93.42,1.75,1.11,2.44.04.04.09.08.14.12.35.24.71.44,1.11.6.08.04.17.06.27.07h.1c.26.07.52.09.79.09.04,0,.09,0,.13,0l.11-.02c.2,0,.37-.03.54-.07.16-.01.3-.04.41-.09.58-.18,1.07-.53,1.47-1.02.54-.58.83-1.28.85-1.99l.02-.24s0-.11,0-.14c0-.08,0-.16-.03-.23-.05-.91-.44-1.72-1.15-2.37Zm-.84,2.87c0,.29-.11.54-.33.77-.02.03-.05.05-.07.08-.15.19-.32.32-.51.38-.09,0-.24.03-.33.06,0,0-.12,0-.25.02h-.1c-.1,0-.21,0-.4-.04h-.05c-.19-.09-.37-.19-.54-.3-.29-.32-.45-.66-.46-1.01v-.16s0-.09,0-.13c0-.02,0-.05,0-.07.02-.3.14-.58.37-.83.3-.32.62-.48,1.06-.5.42-.02.77.09,1.11.37.33.31.49.64.49,1.04,0,.06,0,.11.02.17l-.02.17Z"/>
                        </g>
                      </g>
                      <g id="Capa_2-2">
                        <path class="cls-111"
                              d="m36.25,0C16.26,0,0,16.26,0,36.25s16.26,36.25,36.25,36.25,36.25-16.26,36.25-36.25S56.24,0,36.25,0Zm0,70c-18.61,0-33.75-15.14-33.75-33.75S17.64,2.5,36.25,2.5s33.75,15.14,33.75,33.75-15.14,33.75-33.75,33.75Z"/>
                      </g>
                    </svg>
                  </div>
                  <h4>Technology Platforms</h4>
                  <div class="text">
                    {% for term in post.terms('technology-platform') %}
                      <p>{{ term.name }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

              {% if not (post.terms('development-phase') is empty) %}
                <div class="block development-phases">
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.5 72.5">
                      <defs>
                        <style>.cls-11 {
                            fill: #d94747;
                          }</style>
                      </defs>
                      <g id="Capa_1-2">
                        <path class="cls-11"
                              d="m58,19.04c-.82-.83-1.92-1.29-3.08-1.29-2.4,0-4.36,1.95-4.36,4.36,0,.98.33,1.92.94,2.69l-7.76,11.07c-.33-.08-.69-.12-1.05-.12-1.22,0-2.36.5-3.19,1.38l-5.58-3.26c.18-.48.27-.98.27-1.48,0-2.4-1.96-4.36-4.36-4.36s-4.36,1.96-4.36,4.36c0,.98.33,1.92.94,2.69l-7.76,11.08c-.33-.08-.69-.12-1.05-.12-2.4,0-4.36,1.96-4.36,4.36s1.95,4.36,4.36,4.36,4.36-1.96,4.36-4.36c0-1.19-.47-2.3-1.3-3.11l7.61-10.84c1.5.61,3.17.29,4.35-.69l5.83,3.42c-.08.33-.12.64-.12.95,0,2.4,1.96,4.36,4.36,4.36s4.36-1.96,4.36-4.36c0-1.19-.47-2.3-1.3-3.11l7.57-10.84c.51.21,1.04.32,1.58.32,2.4,0,4.36-1.96,4.36-4.35.01-1.16-.43-2.26-1.25-3.08Zm-13.23,21.07c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.91-2.07,2.07-2.07,2.07.93,2.07,2.07Zm12.21-18c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.93-2.07,2.07-2.07,2.07.93,2.07,2.07Zm-37.29,28.29c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.93-2.07,2.07-2.07,2.07.93,2.07,2.07Zm12.21-18c0,1.14-.93,2.07-2.07,2.07s-2.07-.93-2.07-2.07.91-2.07,2.07-2.07,2.07.93,2.07,2.07Z"/>
                      </g>
                      <g id="Capa_2-2">
                        <path class="cls-11"
                              d="m36.25,0C16.26,0,0,16.26,0,36.25s16.26,36.25,36.25,36.25,36.25-16.26,36.25-36.25S56.24,0,36.25,0Zm0,70c-18.61,0-33.75-15.14-33.75-33.75S17.64,2.5,36.25,2.5s33.75,15.14,33.75,33.75-15.14,33.75-33.75,33.75Z"/>
                      </g>
                    </svg>
                  </div>
                  <h4>DEVELOPMENT PHASES</h4>
                  <div class="text">
                    {% for term in post.terms('development-phase') %}
                      <p>{{ term.name }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

              {% if not (post.terms('trial-population') is empty) %}
                <div class="block trial-population">
                  <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.5 72.5">
                      <defs>
                        <style>.cls-12 {
                            fill: #88c32f;
                          }</style>
                      </defs>
                      <g id="Capa_1-2">
                        <g>
                          <path class="cls-12"
                                d="m61,43.53c-.92-5.78-3.88-9.23-8.4-9.9,2.26-.71,3.9-2.82,3.9-5.31,0-3.07-2.5-5.57-5.57-5.57s-5.57,2.5-5.57,5.57c0,2.48,1.63,4.59,3.88,5.31-1.45.21-2.73.71-3.85,1.51-.24.17-.39.44-.41.74-.02.29.09.59.3.79.17.17.34.34.56.51,2.05,2.18,3.42,5.29,4.08,9.25,0,.12.03.23.05.33,0,.55.44.99.99,1,.15,0,.31,0,.47,0,3.35,0,7.45-.4,8.98-2.17.51-.59.71-1.3.58-2.05Zm-13.64-15.21c0-1.97,1.6-3.57,3.57-3.57s3.57,1.6,3.57,3.57-1.6,3.57-3.57,3.57-3.57-1.6-3.57-3.57Zm11.54,15.97c-.57.67-2.76,1.43-7.05,1.47-.71-4-2.14-7.23-4.23-9.61.95-.44,2.05-.65,3.31-.65,4.49,0,7.22,2.81,8.1,8.35,0,0,0,0,0,0,.02.14,0,.26-.13.43Z"/>
                          <path class="cls-12"
                                d="m27.22,36.66c.21-.21.31-.5.29-.79-.02-.29-.17-.56-.41-.73-1.1-.79-2.4-1.3-3.85-1.51,2.25-.71,3.89-2.82,3.89-5.31,0-3.07-2.5-5.57-5.57-5.57s-5.57,2.5-5.57,5.57c0,2.49,1.64,4.6,3.9,5.31-4.48.67-7.44,4.12-8.4,9.9-.12.74.07,1.45.57,2.04,1.57,1.86,6.03,2.25,9.5,2.25.55,0,1-.45,1-1,0-.04,0-.07,0-.11.02-.06.03-.11.04-.17.61-3.99,2-7.16,4.14-9.4l.47-.48Zm-9.22-8.34c0-1.97,1.6-3.57,3.57-3.57s3.57,1.6,3.57,3.57-1.6,3.57-3.57,3.57-3.57-1.6-3.57-3.57Zm2.7,17.49c-4.35-.09-6.54-.86-7.11-1.53-.14-.16-.15-.28-.13-.42.92-5.55,3.65-8.36,8.1-8.36,1.26,0,2.38.23,3.35.67-2.13,2.42-3.55,5.66-4.21,9.63Z"/>
                          <path class="cls-12"
                                d="m38.72,34.06c2.72-1.01,4.66-3.62,4.66-6.68,0-3.93-3.2-7.13-7.13-7.13s-7.13,3.2-7.13,7.13c0,3.06,1.95,5.67,4.66,6.68-5.68.98-9.43,5.47-10.67,12.89-.14.88.09,1.71.69,2.42,2.13,2.51,8.71,2.89,12.45,2.89s10.31-.38,12.45-2.89c.59-.7.83-1.54.69-2.42-1.24-7.42-5-11.9-10.67-12.89Zm-7.59-6.68c0-2.83,2.3-5.13,5.13-5.13s5.13,2.3,5.13,5.13-2.3,5.13-5.13,5.13-5.13-2.3-5.13-5.13Zm16.05,20.69c-1.14,1.34-5.33,2.18-10.92,2.18s-9.78-.84-10.92-2.18c-.22-.26-.29-.5-.24-.79,1.26-7.58,5.02-11.42,11.16-11.42,7.64,0,10.29,6.21,11.16,11.42.05.3-.02.54-.24.8Z"/>
                        </g>
                      </g>
                      <g id="Capa_2-2">
                        <path class="cls-12"
                              d="m36.25,0C16.26,0,0,16.26,0,36.25s16.26,36.25,36.25,36.25,36.25-16.26,36.25-36.25S56.24,0,36.25,0Zm0,70c-18.61,0-33.75-15.14-33.75-33.75S17.64,2.5,36.25,2.5s33.75,15.14,33.75,33.75-15.14,33.75-33.75,33.75Z"/>
                      </g>
                    </svg>
                  </div>
                  <h4>TRIAL POPULATION</h4>
                  <div class="text">
                    {% for term in post.terms('trial-population') %}
                      <p>{{ term.name }}</p>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endif %}

      {% if not (vaccines_pipeline_sources is empty) %}
        <div class="sources">
          {{ vaccines_pipeline_sources }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
